@inherits LayoutComponentBase

<div class="page">

    <div class="main">
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>

        <footer class="footer">
            <div class="container-fluid px-4">
                <div class="row align-items-center">
                    <div class="col">
                        <span class="text-muted">© 2025 Rent Tracker</span>
                    </div>
                    <div class="col-auto">
                        <ThemeSwitcher />
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
