.nav-scrollable {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    background-color: #181825;
    color: #cdd6f4;
    border-right: 1px solid #313244;
}

.nav-full-height {
    flex-grow: 1;
}

.top-row {
    flex-shrink: 0;
}

.nav-item {
    width: 100%;
}

.nav-link {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    width: 100%;
    color: #cdd6f4;
    text-decoration: none;
}

.nav-link:hover {
    background-color: #313244;
    color: #89b4fa;
}

.nav-link.active {
    background-color: #313244;
    color: #89b4fa;
    border-right: 2px solid #89b4fa;
}
