.nav-scrollable {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
}

.nav-full-height {
    flex-grow: 1;
}

.top-row {
    flex-shrink: 0;
}

.nav-item {
    width: 100%;
}

.nav-link {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    width: 100%;
}