name: build

on:
  pull_request:
    branches:
      - 'master'
  push:
    branches:
      - 'master'
jobs:
  build:
    name: Build and Test
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v2
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '8.0.x'

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore --configuration Release
      
    - name: Test
      shell: bash
      run: |
        dotnet test --no-build --configuration Release --verbosity normal
        if [ $? -ne 0 ]; then
          echo "Tests failed"
          exit 1
        fi